{% extends "../layout.twig" %}

{% block body %}
    <div><a href="examples/chat">文字聊天室</a></div>
    <div><a href="examples/ViewHTML5MediaRecordDataAsStream">获取HTML5视频流</a></div>
    <div><a href="examples/SSSPlayer">使用SSSPlayer</a></div>
    <div><a href="examples/VideoCast">视频聊天室</a></div>
{% endblock %}